/FlatFinder.Api/bin/Antlr3.Runtime.dll
/FlatFinder.Api/bin/EntityFramework.dll
/FlatFinder.Api/bin/EntityFramework.xml
/FlatFinder.Api/bin/FlatFinder.Api.dll
/FlatFinder.Api/bin/FlatFinder.Api.pdb
/FlatFinder.Api/bin/Microsoft.Web.Infrastructure.dll
/FlatFinder.Api/bin/Newtonsoft.Json.dll
/FlatFinder.Api/bin/Newtonsoft.Json.xml
/FlatFinder.Api/bin/System.Net.Http.Formatting.dll
/FlatFinder.Api/bin/System.Net.Http.Formatting.xml
/FlatFinder.Api/bin/System.Web.Http.WebHost.dll
/FlatFinder.Api/bin/System.Web.Http.WebHost.xml
/FlatFinder.Api/bin/System.Web.Http.dll
/FlatFinder.Api/bin/System.Web.Http.xml
/FlatFinder.Api/bin/System.Web.Mvc.dll
/FlatFinder.Api/bin/System.Web.Mvc.xml
/FlatFinder.Api/bin/System.Web.Optimization.dll
/FlatFinder.Api/bin/System.Web.Providers.dll
/FlatFinder.Api/bin/System.Web.Razor.dll
/FlatFinder.Api/bin/System.Web.Razor.xml
/FlatFinder.Api/bin/System.Web.WebPages.Deployment.dll
/FlatFinder.Api/bin/System.Web.WebPages.Deployment.xml
/FlatFinder.Api/bin/System.Web.WebPages.Razor.dll
/FlatFinder.Api/bin/System.Web.WebPages.Razor.xml
/FlatFinder.Api/bin/System.Web.WebPages.dll
/FlatFinder.Api/bin/System.Web.WebPages.xml
/FlatFinder.Api/bin/WebGrease.dll
/FlatFinder.Api/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FlatFinder.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Api/obj/Debug/FlatFinder.Api.csproj.FileListAbsolute.txt
/FlatFinder.Api/obj/Debug/FlatFinder.Api.csprojResolveAssemblyReference.cache
/FlatFinder.Api/obj/Debug/FlatFinder.Api.dll
/FlatFinder.Api/obj/Debug/FlatFinder.Api.pdb
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.Api/obj/Debug/build.force
/FlatFinder.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.MvcClient/bin/Antlr3.Runtime.dll
/FlatFinder.MvcClient/bin/EntityFramework.dll
/FlatFinder.MvcClient/bin/Microsoft.Web.Infrastructure.dll
/FlatFinder.MvcClient/bin/Newtonsoft.Json.dll
/FlatFinder.MvcClient/bin/System.Net.Http.Formatting.dll
/FlatFinder.MvcClient/bin/System.Web.Http.WebHost.dll
/FlatFinder.MvcClient/bin/System.Web.Http.dll
/FlatFinder.MvcClient/bin/System.Web.Mvc.dll
/FlatFinder.MvcClient/bin/System.Web.Optimization.dll
/FlatFinder.MvcClient/bin/System.Web.Providers.dll
/FlatFinder.MvcClient/bin/System.Web.Razor.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.Deployment.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.Razor.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.dll
/FlatFinder.MvcClient/bin/WebGrease.dll
/FlatFinder.MvcClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.MvcClient/obj/Debug/build.force
/FlatFinder.Api/bin/EntityFramework.SqlServer.dll
/FlatFinder.Api/bin/EntityFramework.SqlServer.xml
/FlatFinder.Api/bin/FlatFinder.Contracts.dll
/FlatFinder.Api/bin/FlatFinder.Contracts.pdb
/FlatFinder.Api/bin/FlatFinder.Core.dll
/FlatFinder.Api/bin/FlatFinder.Core.pdb
/FlatFinder.Api/bin/FlatFinder.Data.dll
/FlatFinder.Api/bin/FlatFinder.Data.pdb
/FlatFinder.Api/bin/Ninject.dll
/FlatFinder.Api/bin/Ninject.xml
/FlatFinder.Contracts/bin/Debug/FlatFinder.Contracts.dll
/FlatFinder.Contracts/bin/Debug/FlatFinder.Contracts.pdb
/FlatFinder.Contracts/bin/Debug/FlatFinder.Core.dll
/FlatFinder.Contracts/bin/Debug/FlatFinder.Core.pdb
/FlatFinder.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Contracts/obj/Debug/FlatFinder.Contracts.csproj.FileListAbsolute.txt
/FlatFinder.Contracts/obj/Debug/FlatFinder.Contracts.csprojResolveAssemblyReference.cache
/FlatFinder.Contracts/obj/Debug/FlatFinder.Contracts.dll
/FlatFinder.Contracts/obj/Debug/FlatFinder.Contracts.pdb
/FlatFinder.Contracts/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Contracts/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Contracts/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.Core/bin/Debug/FlatFinder.Core.dll
/FlatFinder.Core/bin/Debug/FlatFinder.Core.pdb
/FlatFinder.Core/obj/Debug/FlatFinder.Core.csproj.FileListAbsolute.txt
/FlatFinder.Core/obj/Debug/FlatFinder.Core.csprojResolveAssemblyReference.cache
/FlatFinder.Core/obj/Debug/FlatFinder.Core.dll
/FlatFinder.Core/obj/Debug/FlatFinder.Core.pdb
/FlatFinder.Data/bin/Debug/EntityFramework.SqlServer.dll
/FlatFinder.Data/bin/Debug/EntityFramework.SqlServer.xml
/FlatFinder.Data/bin/Debug/EntityFramework.dll
/FlatFinder.Data/bin/Debug/EntityFramework.xml
/FlatFinder.Data/bin/Debug/FlatFinder.Contracts.dll
/FlatFinder.Data/bin/Debug/FlatFinder.Contracts.pdb
/FlatFinder.Data/bin/Debug/FlatFinder.Core.dll
/FlatFinder.Data/bin/Debug/FlatFinder.Core.pdb
/FlatFinder.Data/bin/Debug/FlatFinder.Data.dll
/FlatFinder.Data/bin/Debug/FlatFinder.Data.dll.config
/FlatFinder.Data/bin/Debug/FlatFinder.Data.pdb
/FlatFinder.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Data/obj/Debug/FlatFinder.Data.csproj.FileListAbsolute.txt
/FlatFinder.Data/obj/Debug/FlatFinder.Data.csprojResolveAssemblyReference.cache
/FlatFinder.Data/obj/Debug/FlatFinder.Data.dll
/FlatFinder.Data/obj/Debug/FlatFinder.Data.pdb
/FlatFinder.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.Init/bin/Debug/EntityFramework.SqlServer.dll
/FlatFinder.Init/bin/Debug/EntityFramework.SqlServer.xml
/FlatFinder.Init/bin/Debug/EntityFramework.dll
/FlatFinder.Init/bin/Debug/EntityFramework.xml
/FlatFinder.Init/bin/Debug/FlatFinder.Contracts.dll
/FlatFinder.Init/bin/Debug/FlatFinder.Contracts.pdb
/FlatFinder.Init/bin/Debug/FlatFinder.Core.dll
/FlatFinder.Init/bin/Debug/FlatFinder.Core.pdb
/FlatFinder.Init/bin/Debug/FlatFinder.Data.dll
/FlatFinder.Init/bin/Debug/FlatFinder.Data.pdb
/FlatFinder.Init/bin/Debug/FlatFinder.Init.exe
/FlatFinder.Init/bin/Debug/FlatFinder.Init.exe.config
/FlatFinder.Init/bin/Debug/FlatFinder.Init.pdb
/FlatFinder.Init/bin/Debug/FlatFinder.Init.vshost.exe
/FlatFinder.Init/bin/Debug/FlatFinder.Init.vshost.exe.config
/FlatFinder.Init/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Init/obj/Debug/FlatFinder.Init.csproj.FileListAbsolute.txt
/FlatFinder.Init/obj/Debug/FlatFinder.Init.csprojResolveAssemblyReference.cache
/FlatFinder.Init/obj/Debug/FlatFinder.Init.exe
/FlatFinder.Init/obj/Debug/FlatFinder.Init.pdb
/FlatFinder.Init/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Init/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Init/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.MvcClient/bin/EntityFramework.xml
/FlatFinder.MvcClient/bin/FlatFinder.Core.dll
/FlatFinder.MvcClient/bin/FlatFinder.Core.pdb
/FlatFinder.MvcClient/bin/FlatFinder.MvcClient.dll
/FlatFinder.MvcClient/bin/FlatFinder.MvcClient.pdb
/FlatFinder.MvcClient/bin/Newtonsoft.Json.xml
/FlatFinder.MvcClient/bin/System.Net.Http.Formatting.xml
/FlatFinder.MvcClient/bin/System.Web.Http.WebHost.xml
/FlatFinder.MvcClient/bin/System.Web.Http.xml
/FlatFinder.MvcClient/bin/System.Web.Mvc.xml
/FlatFinder.MvcClient/bin/System.Web.Razor.xml
/FlatFinder.MvcClient/bin/System.Web.WebPages.Deployment.xml
/FlatFinder.MvcClient/bin/System.Web.WebPages.Razor.xml
/FlatFinder.MvcClient/bin/System.Web.WebPages.xml
/FlatFinder.MvcClient/bin/dotless.Core.dll
/FlatFinder.MvcClient/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FlatFinder.MvcClient/obj/Debug/FlatFinder.MvcClient.csproj.FileListAbsolute.txt
/FlatFinder.MvcClient/obj/Debug/FlatFinder.MvcClient.csprojResolveAssemblyReference.cache
/FlatFinder.MvcClient/obj/Debug/FlatFinder.MvcClient.dll
/FlatFinder.MvcClient/obj/Debug/FlatFinder.MvcClient.pdb
