/FlatFinder.Api/bin/Antlr3.Runtime.dll
/FlatFinder.Api/bin/EntityFramework.dll
/FlatFinder.Api/bin/EntityFramework.xml
/FlatFinder.Api/bin/FlatFinder.Api.dll
/FlatFinder.Api/bin/FlatFinder.Api.pdb
/FlatFinder.Api/bin/Microsoft.Web.Infrastructure.dll
/FlatFinder.Api/bin/Newtonsoft.Json.dll
/FlatFinder.Api/bin/Newtonsoft.Json.xml
/FlatFinder.Api/bin/System.Net.Http.Formatting.dll
/FlatFinder.Api/bin/System.Net.Http.Formatting.xml
/FlatFinder.Api/bin/System.Web.Http.WebHost.dll
/FlatFinder.Api/bin/System.Web.Http.WebHost.xml
/FlatFinder.Api/bin/System.Web.Http.dll
/FlatFinder.Api/bin/System.Web.Http.xml
/FlatFinder.Api/bin/System.Web.Mvc.dll
/FlatFinder.Api/bin/System.Web.Mvc.xml
/FlatFinder.Api/bin/System.Web.Optimization.dll
/FlatFinder.Api/bin/System.Web.Providers.dll
/FlatFinder.Api/bin/System.Web.Razor.dll
/FlatFinder.Api/bin/System.Web.Razor.xml
/FlatFinder.Api/bin/System.Web.WebPages.Deployment.dll
/FlatFinder.Api/bin/System.Web.WebPages.Deployment.xml
/FlatFinder.Api/bin/System.Web.WebPages.Razor.dll
/FlatFinder.Api/bin/System.Web.WebPages.Razor.xml
/FlatFinder.Api/bin/System.Web.WebPages.dll
/FlatFinder.Api/bin/System.Web.WebPages.xml
/FlatFinder.Api/bin/WebGrease.dll
/FlatFinder.Api/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FlatFinder.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Api/obj/Debug/FlatFinder.Api.csproj.FileListAbsolute.txt
/FlatFinder.Api/obj/Debug/FlatFinder.Api.csprojResolveAssemblyReference.cache
/FlatFinder.Api/obj/Debug/FlatFinder.Api.dll
/FlatFinder.Api/obj/Debug/FlatFinder.Api.pdb
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.Api/obj/Debug/build.force
/FlatFinder.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.MvcClient/bin/Antlr3.Runtime.dll
/FlatFinder.MvcClient/bin/EntityFramework.dll
/FlatFinder.MvcClient/bin/Microsoft.Web.Infrastructure.dll
/FlatFinder.MvcClient/bin/Newtonsoft.Json.dll
/FlatFinder.MvcClient/bin/System.Net.Http.Formatting.dll
/FlatFinder.MvcClient/bin/System.Web.Http.WebHost.dll
/FlatFinder.MvcClient/bin/System.Web.Http.dll
/FlatFinder.MvcClient/bin/System.Web.Mvc.dll
/FlatFinder.MvcClient/bin/System.Web.Optimization.dll
/FlatFinder.MvcClient/bin/System.Web.Providers.dll
/FlatFinder.MvcClient/bin/System.Web.Razor.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.Deployment.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.Razor.dll
/FlatFinder.MvcClient/bin/System.Web.WebPages.dll
/FlatFinder.MvcClient/bin/WebGrease.dll
/FlatFinder.MvcClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/FlatFinder.MvcClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/FlatFinder.MvcClient/obj/Debug/build.force
